#field{
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 100px;
    border: 2px solid red;
    background-color: silver;
}

#vehicle{
    position: absolute;
    left: 100px;
    top: 50px;
    width: 100px;
    height: 100px;
    background-color: slateblue;
    border-radius: 50px;
}

#field .horizontal{
    position: absolute;
    height: 100%;
    width: 20px;
}

.align-right{
    right: 0;
}
.align-left{
    left: 0;
}