.banner{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative;
}

.banner img{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
}

.banner h5{
    text-align: center;
    font-size: 30px;
    z-index: 10;
    position: relative;
    color: cornsilk;
}