.cell{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    float:  left;
}
.row{
    clear: both;
}

#test{
    position: absolute;
    width: 100px;
    height: 100px;
    left: -200px;
    background-color: blue;
    
}

.ismoving{
    animation: move 3s linear; 
}

@keyframes move {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(1000px);
    }
}