* {
    margin: 0;
    padding: 0;
}

header{
    background-color: aquamarine;
    position: relative;
    height: 30px;
}

header nav{
    width: 50%;
    position: absolute;
    height: 100%;
}

header .title{
    width: 50%;
    position: absolute;
    left: 50%;
    height: 100%;
}

main{
    top: 30px;
}

header nav ul {
    list-style: none;
}

header nav ul li{
    margin-left: 30px;
    border: 1px solid black;
    width: 100px;
    float: left;
}

header nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

main {
    width: 100%;
    height: 100%;
    min-width: 1366px;
    min-height: 1024px;
}

.bottom {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: chartreuse;
}

.bottom aside, .bottom footer {
    width: 50%;
    float: left;
    height: 100%;
}

.bottom footer p {
    float: left;
    margin-left: 30px;
}

main article{
    width: 80%;
    margin: auto 30px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 30px;
    left: 30px;
    position: relative;
}